<body class="mx-auto d-block" style="width: 980px; height: auto;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> ></li>
                    <li class="list-item">About Us</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <div class="about-section">
        <h1 style="padding-bottom: 10px;">About Us</h1>
        <p>เว็บไซต์นี้เป็นส่วนหนึ่งในรายวิชา 305492 Computer Engineering Project II <br>
            โครงงานระบบจัดการการเลือกสถานที่ฝึกงาน สาขาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร <br>
            (Internship Location Selection Management System Computer Engineering Faculty of Engineering Naresuan
            University) <br>
            จัดทำขึ้นเพื่อพัฒนาระบบการเลือกสถานที่ฝึกงานของคณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยนเรศวร
        </p>
        <p>โดยมี ดร.จิรารัตน์ เอี่ยมสอาด เป็นอาจารย์ที่ปรึกษาโครงงาน</p>
    </div>

    <h2 style="text-align:center;">Our Team</h2>

    <div class="row" style="padding-bottom: 30px;">
        <div class="column">
            <div class="card">
                <img src="/assets/images/cream.png" style="width:100%">
                <div class="container">
                    <h3>นภัสร พูลหอม</h3>
                    <p class="title">63363126</p>
                    <p>นิสิตคณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยนเรศวร</p>
                    <p>Napatsonpo63@nu.ac.th</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/assets/images/wiu.png" style="width:100%;">
                <div class="container">
                    <h3>ภาณุมาศ หาดซุยทราย</h3>
                    <p class="title">63364819</p>
                    <p>นิสิตคณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยนเรศวร</p>
                    <p>Phanumath63@nu.ac.th</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/assets/images/benz.png" style="width:100%">
                <div class="container">
                    <h3>รดา ยอดคำ</h3>
                    <p class="title">63365298</p>
                    <p>นิสิตคณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ มหาวิทยาลัยนเรศวร</p>
                    <p>Raday63@nu.ac.th</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
    </div>


    <h2 style="text-align:center;">Tools for development</h2>

    <div class="row" style="padding-bottom: 30px; width: 990px">
        <div class="column">
            <div class="card-img">
                <img src="/assets/images/angular.png">
                <div class="container">
                    <h3>Angular</h3>
                    <p class="title">Front-End Framework</p>
                    <p>Angular CLI: 16.2.3<br>
                        Package Manager: npm 9.5.1<br>
                    </p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-img">
                <img src="/assets/images/php.png">
                <div class="container">
                    <h3>PHP</h3>
                    <p class="title">Back-End Technologie</p>
                    <p><br><br></p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card-img">
                <img src="/assets/images/mysql.png">
                <div class="container">
                    <h3>MySQL</h3>
                    <p class="title">Database</p>
                    <p>MySQL Ver 15.1
                        <br><br>
                    </p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div>
            </div>
        </div>
    </div>
</body>