<body class="mx-auto d-block" style="width: 980px;">

    <header class="header mx-auto d-block text-center" style="width: 980px;">
        <nav>
            <ul>
                <div class="header-list">
                    <li class="list-item"><a routerLink="/home-student">ข้อมูลทั่วไป </a> > </li>
                    <li class="list-item">ตรวจสอบสถานะการประเมินจากหน่วยงาน</li>
                </div>
                <button (click)="logout()">
                    ออกจากระบบ <i class="fa-solid fa-arrow-right-from-bracket p-1"></i>
                </button>
            </ul>
        </nav>
    </header>

    <section style="background-color: #cadee8;" class="pt-3 pb-5">
        <div class="container p-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-stepper text-black" style="border-radius: 16px;">

                        <div class="card-body p-5">

                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div>
                                    <h5 class="mb-0">ตรวจสอบสถานะ <span
                                            class="text-primary font-weight-bold">#การประเมินจากหน่วยงาน</span>
                                    </h5>
                                </div>
                                <div class="text-end">
                                    <h5 class="mb-0">สถานะ : <span class="font-weight-bold"
                                            style="color: #59AB62;">ได้รับแบบประเมินเรียบร้อย</span></h5>
                                </div>
                            </div>

                            <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-3 px-5 pt-0 pb-4">
                                <li class="step0 active text-center" id="step1"></li>
                                <li class="step0 active text-center" id="step2"></li>
                                <li class="step0 active text-center" id="step3"></li>
                            </ul>

                            <div class="d-flex justify-content-between">
                                <div class="d-lg-flex align-items-center">
                                    <i class="fa-solid fa-briefcase fa-2x me-lg-3 mb-1 mb-lg-0" style="color: #064469;"></i>
                                    <div>
                                        <p class="fw-bold mb-1">เข้าฝึกงาน</p>
                                        <!-- <p class="fw-bold mb-0">เรียบร้อย</p> -->
                                    </div>
                                </div>
                                <div class="d-lg-flex align-items-center">
                                    <i class="fa-solid fa-hourglass-half fa-2x me-lg-2 mb-1 mb-lg-0" style="color: #FF8A00;"></i>
                                    <div>
                                        <p class="fw-bold mb-1">รอแบบประเมิน</p>
                                        <!-- <p class="fw-bold mb-0">จากหน่วยงาน</p> -->
                                    </div>
                                </div>
                                <div class="d-lg-flex align-items-center">
                                    <i class="fa-solid fa-file-circle-check fa-2x me-lg-3 mb-1 mb-lg-0" style="color: #59AB62;"></i>
                                    <div>
                                        <p class="fw-bold mb-1">ได้รับแบบประเมิน</p>
                                        <p class="fw-bold mb-0">เรียบร้อย</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>